<div class="container-fluid text-center">
    <!--Descrición personal-->
    <div class="row">
      <div class="col-12 col-md-6">
        <img src="assets/img/computer.jpg" class="img2" alt="">
      </div>
      <div class="col-12 col-md-6 texto">
        <h5>Estudie Ingenieria en Informática Mención Desarrollo de Sistemas.</h5>
        <h5>Me estoy desarrollando como programador web y mi propósito seguir avanzando para crecer mejor en el ámbito
          profesional.</h5>
      </div>
    </div>
    <!--/Descrición personal-->

    <!--Tecnologías-->
    <div class="cuerpo2">
      <div id="menu">
        <h3>Tecnologías</h3>
      </div>

      <div class="row" id="menu">
        <div class="col-12 col-md-3">
          <h6><span class="badge badge-pill badge-warning text-white">E</span>Experto</h6>
        </div>
        <div class="col-12 col-md-3">
          <h6><span class="badge badge-pill badge-primary">P</span>Profesional</h6>
        </div>
        <div class="col-12 col-md-3">
          <h6><span class="badge badge-pill badge-success">I</span>Intermedio</h6>
        </div>
        <div class="col-12 col-md-3">
          <h6><span class="badge badge-pill badge-secondary">B</span>Conocimientos Básicos</h6>
        </div>
      </div>

          <div class="row texto3">
            <div class="col-12 col-md-6">
              <img src="assets/img/code.png" class="izquierda" alt="">
              <h5>Lenguajes</h5>
              <h6><span class="badge badge-pill badge-primary">P</span>HTML</h6>
              <h6><span class="badge badge-pill badge-primary">P</span>CSS</h6>
              <h6><span class="badge badge-pill badge-primary">P</span>Javascript</h6>
              <h6><span class="badge badge-pill badge-primary">P</span>Typescript</h6>
            </div>
            <div class="col-12 col-md-6">
              <img src="assets/img/framework.png" class="izquierda" alt="">
              <h5>Frameworks</h5>
              <h6><span class="badge badge-pill badge-primary">P</span>Angular</h6>
              <h6><span class="badge badge-pill badge-secondary">B</span>Ionic</h6>
            </div>
          </div>

          <div class="row texto3">
            <div class="col-12 col-md-6">
              <img src="assets/img/ejecucion.png" class="izquierda" alt="">
              <h5>Entorno de Ejecución</h5>
              <h6><span class="badge badge-pill badge-primary">P</span>Node.js</h6>
            </div>
            <div class="col-12 col-md-6">
              <img src="assets/img/bd.png" class="izquierda" alt="">
              <h5>Bases de Datos</h5>
              <h6><span class="badge badge-pill badge-primary">P</span>Firebase</h6>
              <h6><span class="badge badge-pill badge-success">I</span>MySQL</h6>
            </div>
          </div>

          <div class="row texto3">
            <div class="col-12 col-md-6">
              <img src="assets/img/os.png" class="izquierda" alt="">
              <h5>Sistemas Operativos</h5>
              <h6><span class="badge badge-pill badge-primary">P</span>Windows</h6>
            </div>
          </div>
      </div> 
  <!--/Tecnologías-->
</div>