<div class="container">
  <div id="content">
    <!--Descrición personal-->
    <section class="text-white">
      <div class="space text-center">
        <h2><b><u>SOBRE MI</u></b></h2>
      </div>
      <div class="perfil text-center space">
        <img src="assets/image/perfil.jpg">
      </div>
      <div class="text-center space2">
        <p>Soy titulado de Ingenierio de Ejecución en Informática Mención Desarrollo de Sistemas, el cual se me otorgó en mis años de estudios en el Instituto Profesional AIEP.</p>
        <p>Me estoy desarrollando como programador web, utilizando las tecnologías de MEAN Stack y mi propósito es seguir avanzando para crecer más en el ámbito
          profesional.</p>
      </div>
    </section>
    <!--/Descrición personal-->

    <!--Tecnologías-->
    <section class="section1 section2">
      <div class="space text-center">
        <h3><b><u>TECNOLOGÍAS</u></b></h3>
      </div>

      <div class="row space text-center">
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <h6><span class="badge badge-pill badge-secondary">B</span>Conocimientos Básicos</h6>
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <h6><span class="badge badge-pill badge-success">I</span>Intermedio</h6>
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <h6><span class="badge badge-pill badge-primary">P</span>Profesional</h6>
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <h6><span class="badge badge-pill badge-warning text-white">E</span>Experto</h6>
        </div>
      </div>
      <hr>
      <div class="row space">
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 text">
          <img src="assets/image/code.png" class="icon">
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 ">
          <h5>Lenguajes</h5>
          <h6><span class="badge badge-pill badge-primary">P</span>HTML</h6>
          <h6><span class="badge badge-pill badge-success">I</span>CSS</h6>
          <h6><span class="badge badge-pill badge-primary">P</span>Typescript</h6>
          <h6><span class="badge badge-pill badge-success">I</span>PHP</h6>
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 ">
          <img src="assets/image/framework.png" class="icon">
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 ">
          <h5>Frameworks</h5>
          <h6><span class="badge badge-pill badge-primary">P</span>Angular</h6>
        </div>
      </div>
      <div class="row space">
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <img src="assets/image/ejecucion.png" class="icon">
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <h5>Entorno de Ejecución</h5>
          <h6><span class="badge badge-pill badge-primary">P</span>Node.js</h6>
          <h6><span class="badge badge-pill badge-primary">P</span>Express</h6>
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <img src="assets/image/bd.png" class="icon">
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <h5>Bases de Datos</h5>
          <h6><span class="badge badge-pill badge-primary">P</span>MongoDB</h6>
          <h6><span class="badge badge-pill badge-primary">p</span>MySQL</h6>
        </div>
      </div>
      <div class="row space">
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <img src="assets/image/os.png" class="icon">
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <h5>Sistemas Operativos</h5>
          <h6><span class="badge badge-pill badge-primary">P</span>Windows</h6>
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <img src="assets/image/version.png" class="icon">
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <h5>Controlador de Versiones</h5>
          <h6><span class="badge badge-pill badge-primary">P</span>Github</h6>
        </div>
      </div>
    </section>
    <!--/Tecnologías-->

    <!--Proyectos-->
    <section class="text-white">
      <div class="space text-center">
        <h2><b><u>PROYECTOS</u></b></h2>
      </div>
      <div class="text-center space">
        <a href="https://setasycampo.cl/"><img src="assets/image/SyC.png"></a>
      </div>
      <div class="text-center space">
        <p>Setas & Campo</p>
        <p>Web de contacto para ventas de setas exóticas.</p>
      </div>
    </section>
    <!--/Proyectos-->
  </div>
</div>