<div class="container">
  <div id="content">
    <!--Descrición personal-->
    <section class="text-white">
      <div class="space text-center wow bounceInDown">
        <h2><b><u>SOBRE MI</u></b></h2>
      </div>
      <div class="perfil text-center space wow bounceInDown">
        <img src="assets/image/perfil.jpg">
      </div>
      <div class="text-center space2 wow bounceInUp">
        <p>Mi nombre es Esteban Nicolás Droguett Huerta, soy titulado de Ingeniero de Ejecución en Informática Mención
          Desarrollo de Sistemas, el cual se me otorgó en mis años de estudios.</p>
        <p>Soy programador web, utilizando tecnologías de MEAN Stack, entre otros. Mí propósito es
          seguir avanzando para crecer más en el ámbito
          profesional y lograr desarrollar proyectos cada vez más robustos para el usuario.</p>
      </div>
    </section>
    <!--/Descrición personal-->

    <!--Tecnologías-->
    <section class="section1 section2 text-white">
      <div class="space text-center wow bounceInDown">
        <h2><b><u>TECNOLOGÍAS</u></b></h2>
      </div>
      <div class="row space">
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 text-center wow fadeInLeft">
          <img src="assets/image/code.png" class="icon">
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 wow fadeInLeft">
          <h4><b>LENGUAJES</b></h4>
          <h5>- HTML</h5>
          <h5>- CSS</h5>
          <h5>- JavaScript</h5>
          <h5>- Typescript</h5>
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 text-center wow fadeInRight">
          <img src="assets/image/framework.png" class="icon">
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 wow fadeInRight">
          <h4><b>FRAMEWORKS</b></h4>
          <h5>- Angular</h5>
        </div>
      </div>
      <hr>
      <div class="row space">
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 text-center wow fadeInLeft">
          <img src="assets/image/ejecucion.png" class="icon">
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 wow fadeInLeft">
          <h4><b>ENTORNOS DE EJECUCIÓN</b></h4>
          <h5>- Node.js</h5>
          <h5>- Express</h5>
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 text-center wow fadeInRight">
          <img src="assets/image/bd.png" class="icon">
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 wow fadeInRight">
          <h4><b>BASE DE DATOS</b></h4>
          <h5>- MongoDB</h5>
          <h5>- MySQL</h5>
          <h5>- PostgreSQL</h5>
        </div>
      </div>
      <hr>
      <div class="row space">
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 text-center wow fadeInLeft">
          <img src="assets/image/os.png" class="icon">
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 wow fadeInLeft">
          <h4><b>SISTEMAS OPERATIVOS</b></h4>
          <h5>- Windows</h5>
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 text-center wow fadeInRight">
          <img src="assets/image/version.png" class="icon">
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 wow fadeInRight">
          <h4><b>CONTROLADOR DE VERSIONES</b></h4>
          <h5>- Github</h5>
        </div>
      </div>
      <div class="row space">
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 text-center wow fadeInLeft">
          <img src="assets/image/orm.png" class="icon">
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 wow fadeInLeft">
          <h4><b>ORM</b></h4>
          <h5>- Sequelize</h5>
        </div>
      </div>
    </section>
    <!--/Tecnologías-->

    <!--Proyectos-->
    <section class="text-white">
      <div class="space text-center wow bounceInDown">
        <h2><b><u>PROYECTOS</u></b></h2>
      </div>
      <div class="row">
        <div class="col-6 col-sm-12 col-md-12 col-lg-6 col-xl-6 content wow bounceInLeft">
          <mdb-card class="card">
            <div class="waves-light" mdbWavesEffect>
              <!-- Card img -->
              <img src="assets/image/tareas.png">
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title>
                <h4>
                  <p>APP de Tareas</p>
                </h4>
              </mdb-card-title>
              <!--Text-->
              <mdb-card-text class="text-white">
                <p>Sistema web para registrar tareas diarias, semanales o mensuales.</p>
              </mdb-card-text>
              <a href="http://18.118.211.18" target="_blank" mdbBtn color="white" outline="true" mdbWavesEffect>Ver
                más</a>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-sm-12 col-md-12 col-lg-6 col-xl-6 content wow bounceInRight">
          <mdb-card class="card">
            <div class="waves-light" mdbWavesEffect>
              <!-- Card img -->
              <img src="assets/image/automotriz.png">
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title>
                <h4>
                  <p>Automotriz Demo</p>
                </h4>
              </mdb-card-title>
              <!--Text-->
              <mdb-card-text class="text-white">
                <p>Demo de un Sistema Automotriz.</p>
              </mdb-card-text>
              <a href="https://estebandroguett.github.io/automotriz/#/login" target="_blank" mdbBtn color="white"
                outline="true" mdbWavesEffect>Ver
                más</a>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </section>
    <!--/Proyectos-->
  </div>
</div>