<div class="container">
  <div id="content">
    <!--Descrición personal-->
    <section class="text-white">
      <div class="space text-center wow bounceInDown">
        <h2><b><u>SOBRE MI</u></b></h2>
      </div>
      <div class="perfil text-center space wow bounceInDown">
        <img src="assets/image/perfil.jpg">
      </div>
      <div class="text-center space2 wow bounceInUp">
        <p>Mi nombre es Esteban Nicolás Droguett Huerta, soy titulado de Ingeniero de Ejecución en Informática Mención
          Desarrollo de Sistemas, el cual se me otorgó en mis años de estudios en el Instituto Profesional AIEP.</p>
        <p>Me estoy desarrollando como programador web, utilizando las tecnologías de MEAN Stack y mi propósito es
          seguir avanzando para crecer más en el ámbito
          profesional.</p>
      </div>
    </section>
    <!--/Descrición personal-->

    <!--Tecnologías-->
    <section class="section1 section2 text-white">
      <div class="space text-center wow bounceInDown">
        <h2><b><u>TECNOLOGÍAS</u></b></h2>
      </div>
      <div class="row space">
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 text-center wow fadeInLeft">
          <img src="assets/image/code.png" class="icon">
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 wow fadeInLeft">
          <h4><b>Lenguajes</b></h4>
          <h5>- HTML</h5>
          <h5>- CSS</h5>
          <h5>- Typescript</h5>
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 text-center wow fadeInRight">
          <img src="assets/image/framework.png" class="icon">
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 wow fadeInRight">
          <h4><b>Frameworks</b></h4>
          <h5>- Angular</h5>
        </div>
      </div>
      <hr>
      <div class="row space">
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 text-center wow fadeInLeft">
          <img src="assets/image/ejecucion.png" class="icon">
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 wow fadeInLeft">
          <h4><b>Entorno de Ejecución</b></h4>
          <h5>- Node.js</h5>
          <h5>- Express</h5>
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 text-center wow fadeInRight">
          <img src="assets/image/bd.png" class="icon">
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 wow fadeInRight">
          <h4><b>Bases de Datos</b></h4>
          <h5>- MongoDB</h5>
          <h5>- MySQL</h5>
        </div>
      </div>
      <hr>
      <div class="row space">
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 text-center wow fadeInLeft">
          <img src="assets/image/os.png" class="icon">
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 wow fadeInLeft">
          <h4><b>Sistemas Operativos</b></h4>
          <h5>- Windows</h5>
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 text-center wow fadeInRight">
          <img src="assets/image/version.png" class="icon">
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 wow fadeInRight">
          <h4><b>Controlador de Versiones</b></h4>
          <h5>- Github</h5>
        </div>
      </div>
    </section>
    <!--/Tecnologías-->

    <!--Proyectos-->
    <section class="text-white">
      <div class="space text-center wow bounceInDown">
        <h2><b><u>PROYECTOS</u></b></h2>
      </div>
      <div class="row">
        <div class="col-6 col-sm-12 col-md-12 col-lg-6 col-xl-6 content wow bounceInLeft">
          <mdb-card class="card">
            <div class="waves-light" mdbWavesEffect>
              <!-- Card img -->
              <img src="assets/image/SyC.png">
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title>
                <h4>
                  <p>Setas & Campo</p>
                </h4>
              </mdb-card-title>
              <!--Text-->
              <mdb-card-text class="text-white">
                <p>Web de contacto para ventas de setas exóticas.</p>
              </mdb-card-text>
              <a href="https://setasycampo.cl/" target="_blank" mdbBtn color="white" outline="true" mdbWavesEffect>Ver
                más</a>
            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="col-6 col-sm-12 col-md-12 col-lg-6 col-xl-6 content wow bounceInRight">
          <mdb-card class="card">
            <div class="waves-light" mdbWavesEffect>
              <!-- Card img -->
              <img src="assets/image/logo-icon.png">
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title>
                <h4>
                  <p>AdminPro</p>
                </h4>
              </mdb-card-title>
              <!--Text-->
              <mdb-card-text class="text-white">
                <p>Prototipo de Sistema de un Hospital.</p>
              </mdb-card-text>
              <a href="https://estebandroguett.github.io/adminpro/" target="_blank" mdbBtn color="white" outline="true"
                mdbWavesEffect>Ver
                más</a>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-sm-12 col-md-12 col-lg-6 col-xl-6 content wow bounceInLeft">
          <mdb-card class="card">
            <div class="waves-light" mdbWavesEffect>
              <!-- Card img -->
              <img src="assets/image/automotriz.png">
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title>
                <h4>
                  <p>Automotriz Demo</p>
                </h4>
              </mdb-card-title>
              <!--Text-->
              <mdb-card-text class="text-white">
                <p>Demo de un sistema automotriz.</p>
              </mdb-card-text>
              <a href="https://estebandroguett.github.io/automotriz/#/login" target="_blank" mdbBtn color="white"
                outline="true" mdbWavesEffect>Ver
                más</a>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </section>
    <!--/Proyectos-->
  </div>
</div>